.DS_Store
thesis.tex/thesis.bbl
thesis.tex/thesis.blg
thesis.tex/thesis.fdb_latexmk
thesis.tex/thesis.fls
thesis.tex/thesis.out
thesis.tex/thesis.pdf
thesis.tex/thesis.synctex.gz
thesis.tex/thesis.toc

